In [ ]:
# Простий приклад змінних
name = "Іван"
age = 30
print("Мене звати", name, "і мені", age, "років")

In [ ]:
# Введення та виведення даних
name = input("What's your name? ")
print("Hello, " + name + "!")

In [ ]:
# Умовні оператори
x = 10
if x > 5:
  print("x is greater than 5")
else:
  print("x is less than or equal to 5")

In [ ]:
# Цикли
for i in range(1, 6):
  print(i)

In [ ]:
#Списки
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # 1
print(my_list[2])  # 3

In [ ]:
# Функції
def add_numbers(a, b):
  return a + b

result = add_numbers(3, 5)
print(result)

In [ ]:
!pip3 install ColabTurtle
from ColabTurtle.Turtle import *

In [ ]:
initializeTurtle(10, (300, 300))

for i in range(36):
   right(10)
   forward(10)